body{
    overflow-x:hidden ;
}



.online-shop{
    color: #2934a5;
    font-style: italic;
    font-weight: 700;
}
.navlinkMen{
    list-style: none;
    text-decoration: none;
    color: black;
    font-style: normal;
    font-size:17.6px;
    font-family:  "Roboto Condensed", sans-serif;
}
.underline-btn:active{
    color: #3c4aeb;
    text-decoration: none solid #3c4aeb;
    text-decoration:underline  5px  #3c4aeb;
}

.underline-btn:hover{
    color: #2934a5;
    
}

.carUl{
    left: 0;
}
.carousel-inner {
    max-height: 450px;
    overflow:hidden;
}
.carousel-item{
    height:500px
}
.carousel-item img{
  height: 100%;
  object-fit: cover;
}

/* allProductsHeader */
.allProductsHeader{
    list-style: none;
    text-decoration: none;
    color: #2934a5;
    font-style: normal;
    font-size:17.6px;
    font-family:  "Roboto Condensed", sans-serif;

}
/* Card image  */
.card-img-top{
    height: 500px;
    width:300px;
    object-fit: cover;
}
.card-group{
    height: 500px;
    width:300px;
}
.colcard{
    height: 300px;
    width: 18rem;
}
.card{
    width: 300px;
}



